@model List<Rol>
<style>
	body {
		background: rgb(52,58,64);
		background: linear-gradient(90deg, rgba(52,58,64,1) 0%, rgba(108,117,125,1) 25%, rgba(145,145,145,1) 50%, rgba(108,117,125,1) 75%, rgba(52,58,64,1) 100%);
		/*background: rgb(108,117,125);
		background: radial-gradient(circle, rgba(108,117,125,1) 0%, rgba(52,58,64,1) 80%, rgba(52,58,64,1) 100%);*/
	}

</style>

<div class="row">
	<div class="col-6 offset-3 text-left text-center">
		<h2 class="text-light border-bottom" style="font-size:100px;"><i class="fa-solid fa-id-badge"></i></h2>
	</div>
</div>


<div class="row">
	<div class="col-12 text-lg-right">
		<a href="/Rol/upsert/" class="btn btn-secondary"><i class="fa-solid fa-circle-plus"></i> &nbsp; Crear nuevo Rol</a>
	</div>
</div>

<br />
<div class="bg-dark p-4 border rounded ">
	<div class="bg-light p-1">
		<table id="Roles" class="table table-hover table-striped container">
			<thead class="thead-dark">
				<tr class="">
					<th colspan="2" class="text-center">Roles</th>
				</tr>
			</thead>
			<tbody class="table-light">
				@if (Model != null)
				{
					@foreach (var Rol in Model)
					{
						<tr id="Rol_@Rol.Id">
							<td>@Rol.Nombre</td>
							<td>
								<div class="text-right">
									<a href="/Rol/ReporteMatriculadosRol/@Rol.Id" class="btn btn-secondary text-white" style="cursor:pointer">
										<i class="fa-solid fa-share-from-square"></i> Reporte por Empleados
									</a>
									<a href="/Empleado/upsert/@Rol.Id" class="btn btn-warning text-white" style="cursor:pointer">
										<i class="fas fa-edit"></i>
									</a>
									<a onclick=Delete("@Rol.Id") class="btn btn-danger text-white" style="cursor:pointer">
										<i class="fas fa-trash-alt"></i>
									</a>
								</div>
							</td>
						</tr>
					}
				}
				else
				{
					<tr class="text-center">
						<td colspan="2">Sin Datos</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

<script>

	function Delete(id) {
		swal({
			title: "¿Esta seguro de eliminar el Rol?",
			text: "¿Los datos no podran ser recuperandos una vez se hayan eliminado del sistema, esta seguro que desea eliminarlos completamente?",
			icon: "warning",
			buttons: true,
			dangerMode: true
		}).then((willDelete) => {
			if (willDelete) {
				$.ajax({
					type: "DELETE",
					url: "/Rol/delete/" + id,
					success: function(data) {
						if (data.success) {
							toastr.success(data.message);
							$("#Rol_" + id).remove();
						}
						else {
							toastr.error(data.message);
						}
					}
				});
			}
		});
	}

</script>