@model List<Elemento>
@{
    ViewData["Title"] = "Home Page";
    int elementos = 0;
}

<div style="max-width: 1200px; min-width: 300px; margin: 0px auto; padding: 10px;">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    
</div>


