@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="text-align:center;">Programacion Avanzada WEB</p>
<div class=" text-sm-center text-center">
    <img src="~/lib/Imagenes/fide.jpg" style="width:700px;height:400px;" />
</div>

