@{
	ViewData["Title"] = "Privacy Policy";
}
<style>
	body {
		background: rgb(52,58,64);
		background: linear-gradient(90deg, rgba(52,58,64,1) 0%, rgba(108,117,125,1) 25%, rgba(145,145,145,1) 50%, rgba(108,117,125,1) 75%, rgba(52,58,64,1) 100%);
		/*background: rgb(108,117,125);
			background: radial-gradient(circle, rgba(108,117,125,1) 0%, rgba(52,58,64,1) 80%, rgba(52,58,64,1) 100%);*/
	}

</style>
<h1>@ViewData["Title"]</h1>
<div class="card bg-dark text-light text-center py-1">
	<h1>Programacion Avanzada WEB</h1>
	<hr class="bg-light pb-2" />
	<p>Este proyecto es desarrollado por los estudiantes de la Universidad Fidelitas.</p>
	<div class=" text-sm-center text-center pb-4">
		<img src="~/lib/Imagenes/fide.jpg" style="width:700px;height:400px;" />
	</div>
</div>




