@model Fpassword

<style>
	body {
		background: rgb(52,58,64);
		background: linear-gradient(90deg, rgba(52,58,64,1) 0%, rgba(108,117,125,1) 25%, rgba(145,145,145,1) 50%, rgba(108,117,125,1) 75%, rgba(52,58,64,1) 100%);
		/*background: rgb(108,117,125);
							background: radial-gradient(circle, rgba(108,117,125,1) 0%, rgba(52,58,64,1) 80%, rgba(52,58,64,1) 100%);*/
	}
	/*
		.header {
			margin-bottom: 20px;
		}
		
			.header h3 {
				margin-bottom: 5px;
				margin-top: 25px;
			}

		.separator {
			height: 1px;
			background: #e8e8e8;
			margin: 0px -25px;
		}

		.inputs {
			margin-top: 25px;
		}

			.inputs label {
				letter-spacing: 1px;
				margin-bottom: 7px;
			}

			.inputs #submit {
				width: 100%;
				margin-top: 20px;
				padding: 15px 0;
				letter-spacing: 1px;
			}*/
</style>
<div class="text-center row justify-content-center col-5 offset-4 bg-dark " style="margin-top: 20%;">
	<article class="card-body  text-light">
			<div class="form-group ">
				<form method="post">
					<div class="form-group header pb-2">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<h3>Forget my password!</h3>
						<hr class="bg-light" />
					</div>

					<div class="form-group">
						<div class="clearfix separator"></div>
					</div>

					<div class="form-group inputs">
						<label asp-for="Email" class="form-text"></label>
						<input asp-for="Email" class="form-control bg-secondary text-light" placeholder="E-Mail" autofocus />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>

					<div class="form-group inputs pt-3">
						<button id="submit" type="submit" class="btn btn-secondary">Recuperar Contraseña</button>
					</div>

				</form>
			</div>
	</article>
</div>

@section Scripts
	{
	<partial name="_ValidationScriptsPartial" />
}