@model RegisterInputModel


<style>

    .header {
        margin-bottom: 20px;
    }

        .header h3 {
            margin-bottom: 5px;
            margin-top: 25px;
        }

    .separator {
        height: 1px;
        background: #e8e8e8;
        margin: 0px -25px;
    }

    .inputs {
        margin-top: 25px;
    }

        .inputs label {
            letter-spacing: 1px;
            margin-bottom: 7px;
        }

        .inputs #submit {
            width: 100%;
            margin-top: 20px;
            padding: 15px 0;
            letter-spacing: 1px;
        }
</style>

<div class="form-row">
    <div class="form-group col-5">
        <form method="post">
            <div class="form-group header">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h3>Register</h3>
            </div>

            <div class="form-group">
                <div class="clearfix separator"></div>
            </div>

            <div class="form-group inputs">
                <label asp-for="Email" class="form-text"></label>
                <input asp-for="Email" class="form-control" placeholder="E-Mail" autofocus />
                <span asp-validation-for="Email" class="text-danger"></span>

                <label asp-for="Password" class="form-text"></label>
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>

                <label asp-for="PasswordConfirmation" class="form-text"></label>
                <input asp-for="PasswordConfirmation" class="form-control" placeholder="Password Confirmation" />
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
            </div>

            <div class="form-group inputs">
                <button id="submit" type="submit" class="btn btn-outline-primary">Register</button>
            </div>

        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
